@import "./../../../node_modules/bulma/sass/utilities/initial-variables";

// Bulma customization
$body-size: 14px;

@import './../../../node_modules/bulma/bulma';
@import './../../../node_modules/bulma-pageloader/dist/bulma-pageloader';

html {
    overflow-y: hidden;
}

.page-content {
    height: calc(100vh - #{$navbar-height});
}

// Overwrite, monaco style to make the code center compare to the Message box
.monaco-scrollable-element {
    left: 5px !important;
}
